.projectcss {
    height: 100vh;
    min-height: 100%;
    
}
body{
    background-image: url("https://media.istockphoto.com/photos/texture-of-plywood-board-highlydetailed-natural-pattern-background-picture-id611873244?k=6&m=611873244&s=170667a&w=0&h=DwXOG3fiy_QTs2mtyAzBlKLfhwLvm3YISCeTu4Ygp9s=");
    height: 100%;
    background-position: center;
    background-size: cover;

}
h1{
    font-family: 'Garamond', serif;
    font-size: 40px;

}
h2{
    font-family: 'Garamond', serif;
    font-size: 38px;


}
/* .container {
    padding: 10px 50px 50px 10px;
} */

p {
    font-size:20px;
    /* border: 1px solid black; */
    padding: 5px 5px 5px 5px;
}