.BurgerStyle {
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 15px;
    left: 20px;
    z-index: 20;
    display: none;

@media (max-width: 768px) {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
  }
}

.BurgerStyle.div {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
}

