.changePW {
    margin-top: 20px;
    padding: 60px 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 5px;
    z-index: 100;
}

.changePWForm {
    margin-top: 18%;
    border: 2px solid black;
    padding: 60px 20px;
}


.inputCol {
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left:-25%;
}

input {
    margin-left: 8%;
    width: 350px;
    height: 40px;
}

Form.Control::placeholder {
    color: gray;
    font-size: 1.2em;
    font-style: italic;
}

#cuisine {
    margin-left: 8%;
    width: 353px;
    height: 40px;
    
    border: 1px solid grey;

    border-radius: 4px;
    

    color: gray;
    font-size: 1.1em;
    font-style: italic;
}

labeling {
    width: 200px;
    padding: 2px 0 6px 0;
    font-size: 20px;
    text-align: right;
    display: inline-block;
}

.saveButton {
    width: 150px;
    padding: 5px 20px;
    padding-bottom: 28px;
    font-size: 15px;
    margin-top: 12%;
    margin-bottom: 25px;
    margin-right: -45%;
    cursor: pointer;
}

.saveButton:hover {
    background-color: #A8A8A8;
    color: #f1f1f1;
}


.rec {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 10px 20px 10px 200px;
    margin-top: 3%;
    margin-bottom: 20px;
}
