.scroller{
    
    margin: 0 auto;
    height: 100px;
    width: 600px;
    overflow:auto;
    position:relative;
    left:-00px;
    background-color:paleturquoise;
}
.combox{
    position:relative;
    top:-100px;
    left:-70px;
}
.c{
    position:relative;
    left:-150px
}