.square{
    /* width:auto;
    height:auto; */
    /* position: relative; */
    width: 50%;
    /* left:390px; */
    background-color:moccasin;
    position:relative;
    margin:auto;
    margin-bottom: 40px;
    padding: 30px;
    border: 2px solid black;
    
}
.box_center{
    position: relative;
    width: 100%;
    height: 65px;
    padding: 20px;
}

.avi{
    /* align: center; */
    border: radius 50%;
    width:70px;
    height:70px;
    position:absolute;
    /* margin: auto; */
    top:1%;
    left:1%;
}
.pic{
    /* position:relative;
    margin: auto;
    border: 10px solid white;
    width:300px;
    height:300px;
    object-fit: cover;*/
    display: block;
    position: absolute;
  width: 80%;
  height: 80%;
  /* width: 40%; */
  /* margin: auto; */
  /* margin-right: auto; */

  transform: translate(10%, 10%);
  object-fit: cover;
  
  border: 10px solid white;
  /* padding: 10px; */
}

.rect-img-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

.rect-img-container {
  position: relative;
  
}

.title{
    position:absolute;
    text-align: center;
    /* font-style:italic; */
    font-size: large;
    /* padding: 10px; */
    /* margin: 10px; */
    transform: translate(-50%, -50%);
    top:10%;
    /* justify-content: center; */
    /* left:165px; */
}
.name{
    font-size: medium;
    position:absolute;
    font-weight:bold;
    top:3%;
    left:11%;
}
.date{
    font-size:10px;
    text-align: center;
    position: relative;
    /* top:4%; */
    /* top:10px; */
    /* left:310px; */
}
.like{
    position:absolute;
    /* transform: translate(50%, 50%); */
    bottom:4%;
    left: 4%;
}