section {
    display: flex;
    padding: 10px;
    margin-right: 60%;
    margin-left: 20%;
}
  
article {
    flex: auto;
    
    margin: 20px;
    padding: 20px;
}

.button {
    width: 400px;
    padding: 10px 20px;
    padding-bottom: 28px;
    font-size: 15px;
    margin: 8px;
    cursor: pointer;
}

.button:hover {
    background-color: #A8A8A8; /* Green */
    color: white;
  }

.profileImg {
    position: relative;
    left: 200px;
    border-radius: 100%;
    height: 150px;
}

optionRow {
    display: block;  
}

row {
    display: flex;  
    margin-left: 25%;
    margin-right: 25%;
}

