section {
    display: flex;
    padding: 10px;
    margin-right: 60%;
    margin-left: 20%;
}

  
article {
    flex: auto;
    
    margin: 20px;
    padding: 20px;
}

.button {
    border: none;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.profileImg {
    position: relative;
    left: 200px;
    border-radius: 100%;
    height: 150px;
}

optionRow {
    display: block;  
}

row {
    display: flex;  
    margin-left: 25%;
    margin-right: 25%;
}

