section {
    display: flex;
    padding: 10px;
    margin-right: 60%;
    margin-left: 20%;
  }

  
article {
    flex: auto;
    
    margin: 20px;
    padding: 20px;
}

moreOptions {
    flex: auto;
    border: 1px solid black;   
    
  
}

row {
    display: flex;  
    margin-left: 25%;
    margin-right: 25%;
}

postContent {
    flex: auto;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
}