.recipe {
    position: relative;
    left: 230px;
    top: 20px;
    background-color: cornsilk;
    width: 600px;
    height: 750px;
    border: 10px solid lightsalmon;
    padding: 50px;
    /* margin: auto; */

}
.avatar {
position:relative;
left:-200px;
border-radius: 50%;
width: 120px;
height: 120px;

}
.authorName {
font-size: 7px;
padding-left: 130px;
position: relative;
top: -100px;
left: -150px;

}
.car{
    position: relative;
    top: -150px;
    left: 10px;
}
.Text{
    border: none;
    position: relative;
    top:-220px;
    left:-110px;
    font-size:12px;
}
.like{
    position:relative;
    left:-210px;
    top:-40px;

    
}
.comment{
    position:relative;
    left: -80px;
    top: -30px;
}