.SignUp {
    padding: 60px 20px;
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 5px;
  z-index: 100;
}

.form {
    border: 2px solid black;
    padding: 60px 20px;
}